* {
    font-family: 'Karla', sans-serif;
}

body {
    background-color: rgb(250, 246, 241);
}

/* .menu {
    color: teal;
} */

/* #navBarMotto {
    
} */

.nav {
    background-color: lightblue;
}

.logo {
    width: 75px;
    height: 100px;
}

.card {
    background-color: lightblue;
    border: solid orangered 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picture {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#flexContainer {}

#addBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

label {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    position: static;
    font-size: large;
    left: 0;
    bottom: 0;
    width: 100%;
    color: orangered;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 350px) {
    .column {
        width: 50%;
    }
}