body {
    background-color: rgb(250, 246, 241);
}

.menu {
    color: lightblue;
}

.card {
<<<<<<< HEAD
    background-color: lightblue;
=======
    background-color: rgb(250, 246, 241);
>>>>>>> 44dc9eb6ab215d4c7867d6eebda4560467fdce7a
    text-align: center;
}

#Nav {
    background-color: lightblue;
}

#categories {
    align-content: center;
}

.third {
    width: 60%;
    min-height: 80%;
    margin-left: 80px;
    margin-top: 50px;
}

#header {
    margin-top: 26px;
}

#footer {
    position: absolute;
    bottom: 0;
}

@media (max-width: 600px) {
    #navBarMotto {
        font-size: small;
    }
}

@media (max-width: 500px) {
    #navBarMotto {
        font-size: x-small;
    }
}

@media (max-width: 400px) {
    #navBarMotto {
        font-size: xx-small;
    }
}