* {
    /* margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; */
    font-family: 'Karla', sans-serif;
}

body {
    background-color: rgb(250, 246, 241);
}

.menu {
    color: rgb(0, 106, 177);
}

.card {
    max-width: 100%;
}

#Nav {
    background-color: lightblue;
}

img {
    max-width: 35%;
    height: auto;  
}

#nutraLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#about {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

#searchbar {
    margin: 20px;
}

.brand {
    color: rgb(0, 106, 177)
}

h2 {
    background-color: lightblue;
}

header {
    text-align: center;
}

#quote{
    text-align: center;
}

.image {
    height: auto;
    width: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px;
}

@media (max-width: 600px) {
   
}

@media (max-width: 500px) {
 
}

@media (max-width: 400px) {
   
}

#footer {
    position: static;
    font-size: large;
    left: 0;
    bottom: 0;
    width: 100%;
    color: orangered;
    text-align: center;
}