body {
    background-color: rgb(0, 106, 177);
}

.menu {
    color: rgb(0, 106, 177);
}

.card {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

#about {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

#searchbar {
    margin: 20px;
}

.brand {
    color: rgb(0, 106, 177)
}